<section class="search">
    <form action="/search" method="post">
        <input type="text" name="gods" placeholder="Nome do Deus(a)">
        <button type="submit"><i class="bi bi-search"></i></button>
    </form>
</section>